@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100;*/
}

body{
    background-image: linear-gradient(to right, #8C5B3F, #D9B19A, #593325, #8C5B3F, #8C443E);
    
}
main{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(90, 43, 40);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #8C5B3F;
    text-align: center;
    text-shadow: 1px 1px 2px  #66422e ;
}
h2{
    color: #8C443E;
}
p {
    text-align: justify;
}

