@charset "UTF8";

@font-face {
    font-family: 'WorkSans';
    src: url(fontes/Work_Sans/WorkSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'KaushenScript';
    src: url(fontes/Kaushan_Script/KaushanScript-Regular.ttf);
}


body {
    background-color: white;
    margin: 0px;
}

header {    
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 0px;
    padding: 20px;
}

header h1 {
    margin-top: 0px;
    font-family: 'workSans';
    
}

header a {
    text-decoration: none;
    color: white;
}

main {


}

.q1 {
    font-family: 'KaushenScript';
    font-size: 1.2em;
}